/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #c0f4e4;
  background-image: url("https://global-uploads.webflow.com/598978c376433a0001206e92/605b59c7db68d274652343c7_rune-bg%402x.png");
 }
